{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>  {% block title  %}{% endblock  %}</title>
    <link rel ="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}
    {% endblock  %}
  </head> 

  <body>
    <header id="main-navigation"> 
        <h1><a href="{% url 'starting-page' %}">Tsega's Blog</a></h1>
        <nav>
          <a href="{% url 'posts-page' %}">All Posts</a> &nbsp;&nbsp;&nbsp;
          <a href="{% url 'read-later' %}">Stored Posts</a> &nbsp;&nbsp;&nbsp;
          <a href="http://localhost:8000/admin/">Admin</a>
        </nav>    
    </header> 
    {% block content %}{% endblock  %}
    <script src="js/scripts.js"></script>
  </body> 
</html> 